@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
}
body{
    background: linear-gradient(90deg, rgba(162,161,161,1) 44%, rgba(32,32,32,1) 100%);
}
.resume
{
    width: 90%;
    background: #fff;
    margin: 25px auto;
    display: flex;
    height: 1600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left {
    background: #ff6a00;
    width: 25%;
    padding: 0 20px;
}
.right {
    width: 75%;
}
.left .imsrc
{
    width: 120%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 20px;
}
.left .imsrc .polar {
    text-align: center;
    padding: 10px 20px;
  }
.pb {
    padding-bottom: 20px;
}
.title
{
    font-size: 28px;
    font-weight: 700
    letter spacing 5px;
    padding-bottom: 10px;
    text-align: right;
    position: relative;
    margin-bottom: 20px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: -20px;
	width: 100px;
	height: 3px;
	background: #fff;
}

.left .text {
    font-size: 18px;   
}
.left .icon {
    width: 30px;
    justify-items: center;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.li_wrap {
    /* width: 310px; */
    display: flex;
    justify-content: right;
    margin-right: 15px;
}
.qoute{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 50px;
    margin-right: 10px;
    
    
}
.qiconl {
    font-size: 64px;
    color: #ff6a00;
}
.qiconr {
    font-size: 64px;
    text-align: right;
    color: #ff6a00;
}
.qtext{
    padding-right: 30px;
    padding-left: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    color: #333;
}
.right .expski {
    margin-top: 100px;
    display: flex;

    width: 500px;
    
}
.right .vertical{
    writing-mode: sideways-lr;
    text-align: right;
    font-size: 30px;
    color: #ff6a00;
}
.right .vertical::after{
    content: "";
	position: absolute;
	width: 3px;
    height: 300px;
	background: #000;

}

.exp_con{
    width: 400px;
    padding-left: 30px;
    padding-top: 40px;

}
.mainheader{
    display: flex;
    flex-direction: column-reverse;
}
.mainheader .heading{
    font-size: 25px;
}
.mainheader .timep{
    color: #666;
}
.post {
    padding-top: 5px;
    padding-bottom: 10PX;
    color: #666;
}
.inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin-left: 80px;

}
.entry{
    margin-bottom: 80px;
    margin-top: 20px;
}
.w3-border{
    max-width: 100px;
}